h1 {
    text-align: center;
}

#highscore-table {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
}

#return-dashboard-button {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}